.git
.github
**/.venv
**/node_modules
**/__pycache__
**/*.pyc
**/.pytest_cache
**/target
**/.output
**/dist
**/logs
**/*.log
**/.env
**/data/chat_history
**/data/internal_docs
frontend_and_Java_backend
pytest-cache-files-*
